
AndroidAppProject/.idea/misc.xml
AndroidServerProject/.vscode/settings.json
AndroidServerProject/__pycache__/app.cpython-39.pyc
AndroidServerProject/__pycache__/database.cpython-39.pyc
AndroidServerProject/__pycache__/models.cpython-39.pyc
AndroidAppProject/.idea/misc.xml
AndroidServerProject/test.html
AndroidAppProject/.idea/compiler.xml
AndroidAppSolutionProject/.idea/compiler.xml
