<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>계좌 내역 조회 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        tr:nth-child(2n+0){background-color: #FFD044;}
    </style>
  </head>
  <body>
    <table style="width: 350px; font-size: larger; border:1px solid">
        {% for history in historylist %}
            <tr>
                <td style="text-align: left; vertical-align: top; width: 200px">
                    <b>312258-16-{{ history.display_acc }}</b>
                    <br>
                    {{ history.memo|safe }}
                </td>
                <td style="text-align: right; border-left: none; font-size: 2vm;">
                    {{ history.amount }}원
                    <br>
                    잔액: {{ history.balance }}원
                </td>
            </tr>
        {% endfor %}
    </table>
  </body>
</html>